In [1]:
import pandas as pd
data= pd.read_csv("Fish_Dataset.csv")

In [2]:
data

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [3]:
data.isnull().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [4]:
for i in data.columns:
    print(f"Unique values in column{i}:\n\n{data[i].unique()}\n")

Unique values in columnSpecies:

['Bream' 'Roach' 'Whitefish' 'Parkki' 'Perch' 'Pike' 'Smelt']

Unique values in columnWeight:

[ 242.   290.   340.   363.   430.   450.   500.   390.   475.   600.
  700.   610.   650.   575.   685.   620.   680.   725.   720.   714.
  850.  1000.   920.   955.   925.   975.   950.    40.    69.    78.
   87.   120.     0.   110.   150.   145.   160.   140.   169.   161.
  200.   180.   272.   270.   306.   540.   800.    55.    60.    90.
  170.   273.   300.     5.9   32.    51.5   70.   100.    80.    85.
  115.   125.   130.   135.   225.   188.   197.   218.   260.   265.
  250.   320.   514.   556.   840.   690.   900.   820.  1015.  1100.
  345.   456.   510.   567.   770.  1250.  1600.  1550.  1650.     6.7
    7.5    7.     9.7    9.8    8.7   10.     9.9   12.2   13.4   19.7
   19.9]

Unique values in columnLength1:

[23.2 24.  23.9 26.3 26.5 26.8 27.6 28.5 28.4 28.7 29.1 29.5 29.4 30.4
 30.9 31.  31.3 31.4 31.5 31.8 31.9 32.  32.7 32.8 33.5 35.  36.2 37.4
 38.  12.9 16.5 17.5 18.2 18.6 19.  19.1 19.4 20.4 20.5 21.  21.1 22.
 22.1 23.6 25.  24.1 25.6 33.7 37.3 13.5 14.3 16.3 18.4 19.8 21.2 23.
  7.5 12.5 13.8 15.  15.7 16.2 16.8 17.2 17.8 19.3 20.  20.7 21.5 22.6
 23.5 25.2 25.4 25.9 26.9 27.8 30.5 32.5 34.  34.5 34.6 36.5 36.6 36.9
 37.  37.1 39.  39.8 40.1 40.2 41.1 30.  31.7 34.8 35.5 36.  40.  42.
 43.2 44.8 48.3 52.  56.  59.   9.3 10.  10.1 10.4 10.7 10.8 11.3 11.4
 11.5 11.7 12.1 13.2]

Unique values in columnLength2:

[25.4 26.3 26.5 29.  29.7 30.  30.7 31.  31.5 32.  33.  33.5 34.  34.5
 35.  36.  37.  38.5 39.5 41.  14.1 18.2 18.8 19.8 20.  20.5 20.8 21.
 22.  22.5 24.  23.4 23.5 25.2 26.  27.  31.7 28.  36.4 40.  14.7 15.5
 17.7 19.  20.7 21.5 23.  25.   8.4 13.7 15.  16.2 17.4 18.  18.7 19.6
 21.3 22.7 24.6 25.6 27.3 27.5 28.7 32.8 36.5 39.  42.  43.  43.5 44.
 32.3 37.3 38.  42.5 45.  46.  48.  51.7 56.  60.  63.4  9.8 10.5 10.6
 11.  11.2 11.3 11.8 12.  12.2 12.4 13.  14.3]

Unique values in columnLength3:

[30.  31.2 31.1 33.5 34.  34.7 34.5 35.  35.1 36.2 36.4 37.3 37.2 38.3
 38.5 38.6 38.7 39.5 39.2 39.7 40.6 40.5 40.9 41.5 41.6 42.6 44.1 44.
 45.3 45.9 46.5 16.2 20.3 21.2 22.2 22.8 23.1 23.7 24.7 24.3 25.3 25.
 27.2 26.7 26.8 27.9 29.2 30.6 28.7 29.3 30.8 39.6 43.5 16.5 17.4 19.8
 21.3 22.4 23.2 24.1 25.8 28.  29.   8.8 14.7 16.  17.2 18.5 19.2 19.4
 20.2 20.8 21.  22.5 23.5 24.  24.2 24.5 25.5 26.2 26.5 27.  28.9 29.4
 30.1 31.6 36.5 39.  39.4 39.3 41.4 41.3 42.3 42.5 42.4 44.6 45.2 45.5
 46.  46.6 34.8 37.8 38.8 39.8 41.  45.8 48.  48.7 51.2 55.1 59.7 64.
 68.  10.8 11.6 12.  12.4 12.6 13.1 13.2 13.4 13.5 13.8 15.2]

Unique values in columnHeight:

[11.52   12.48   12.3778 12.73   12.444  13.6024 14.1795 12.67   14.0049
 14.2266 14.2628 14.3714 13.7592 13.9129 14.9544 15.438  14.8604 14.938
 15.633  14.4738 15.1285 15.9936 15.5227 15.4686 16.2405 16.36   16.3618
 16.517  16.8896 18.957  18.0369 18.084  18.7542 18.6354 17.6235  4.1472
  5.2983  5.5756  5.6166  6.216   6.4752  6.1677  6.1146  5.8045  6.6339
  7.0334  6.55    6.4     7.5344  6.9153  7.3968  7.0866  8.8768  8.568
  9.485   8.3804  8.1454  8.778  10.744  11.7612 12.354   6.8475  6.5772
  7.4052  8.3922  8.8928  8.5376  9.396   9.7364 10.3458 11.088  11.368
  2.112   3.528   3.824   4.5924  4.588   5.2224  5.1992  5.6358  5.1376
  5.082   5.6925  5.9175  6.384   6.11    5.64    5.875   5.5225  5.856
  6.792   5.9532  5.2185  6.275   7.293   6.375   6.7334  6.4395  6.561
  7.168   8.323   7.1672  7.0516  7.2828  7.8204  7.5852  7.6156 10.03
 10.2565 11.4884 10.881  10.6091 10.835  10.5717 11.1366 12.4313 11.9286
 11.73   12.3808 11.135  12.8002 11.9328 12.5125 12.604  12.4888  5.568
  5.7078  5.9364  6.2884  7.29    6.396   7.28    6.825   7.786   6.96
  7.792   7.68    8.9262 10.6863  9.6    10.812   1.7388  1.972   1.7284
  2.196   2.0832  1.9782  2.2139  2.2044  2.0904  2.43    2.277   2.8728
  2.9322]

Unique values in columnWidth:

[4.02   4.3056 4.6961 4.4555 5.134  4.9274 5.2785 4.69   4.8438 4.9594
 5.1042 4.8146 4.368  5.0728 5.1708 5.58   5.2854 5.1975 5.1338 5.7276
 5.5695 5.3704 5.2801 6.1306 5.589  6.0532 6.09   5.8515 6.1984 6.603
 6.3063 6.292  6.7497 6.7473 6.3705 2.268  2.8217 2.9044 3.1746 3.5742
 3.3516 3.3957 3.2943 3.7544 3.5478 3.8203 3.325  3.8    3.8352 3.6312
 4.1272 3.906  4.4968 4.7736 5.355  4.2476 4.2485 4.6816 6.562  6.5736
 6.525  2.3265 2.3142 2.673  2.9181 3.2928 3.2944 3.4104 3.1571 3.6636
 4.144  4.234  1.408  1.9992 2.432  2.6316 2.9415 3.3216 3.1234 3.0502
 3.0368 2.772  3.555  3.3075 3.6675 3.534  3.4075 3.525  3.995  3.624
 3.63   3.626  3.725  3.723  3.825  4.1658 3.6835 4.239  5.1373 4.335
 4.5662 4.2042 4.6354 4.7716 6.018  6.3875 7.7957 6.864  6.7408 6.2646
 6.3666 7.4934 6.003  7.3514 7.1064 7.225  7.4624 6.63   6.8684 7.2772
 7.4165 8.142  7.5958 3.3756 4.158  4.3844 4.0198 4.5765 3.977  4.3225
 4.459  5.1296 4.896  4.87   5.376  6.1712 6.9849 6.144  7.48   1.0476
 1.16   1.1484 1.38   1.2772 1.2852 1.2838 1.1659 1.3936 1.269  1.2558
 2.0672 1.8792]

In [5]:
data.describe

<bound method NDFrame.describe of     Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]>

In [6]:
data['Species'].unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [7]:
colname=[]
for x in data.columns:
    if data[x].dtypes=='object':
        colname.append(x)
colname

['Species']

In [12]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
 
for x in colname:
    data[x]=le.fit_transform(data[x])
    
    le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
    print("Feature",x)
    print('mapping',le_name_mapping)

Feature Species
mapping {0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6}

In [13]:
X=data[['Weight','Length1','Length2','Length3','Height','Weight']]
Y=data['Species']

In [14]:
X.shape

(159, 6)

In [15]:
Y.shape

(159,)

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

scaler.fit(X)
X=scaler.transform(X)

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=10)

In [23]:
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
model_KNN=KNeighborsClassifier(n_neighbors=int(np.sqrt(len(X_train))),
                                                metric='euclidean')

In [24]:
model_KNN.fit(X_train,Y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=11)

In [25]:
Y_pred=model_KNN.predict(X_test)
print(list(zip(Y_test,Y_pred)))

[(4, 5), (2, 2), (4, 2), (0, 0), (3, 2), (2, 2), (3, 2), (0, 0), (6, 0), (2, 2), (1, 1), (1, 1), (4, 2), (0, 0), (4, 2), (5, 5), (2, 2), (0, 0), (1, 4), (2, 4), (0, 0), (2, 2), (5, 5), (2, 2), (0, 0), (4, 2), (2, 2), (6, 2), (3, 3), (5, 5), (2, 2), (1, 0)]

In [26]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
cfm=confusion_matrix(Y_test,Y_pred)
print(cfm)

print("Classification report:")
print(classification_report(Y_test,Y_pred))

acc=accuracy_score(Y_test,Y_pred)
print("Accuracy of the model :",acc)

[[6 0 0 0 0 0 0]
 [1 2 0 0 1 0 0]
 [0 0 8 0 1 0 0]
 [0 0 2 1 0 0 0]
 [0 0 4 0 0 1 0]
 [0 0 0 0 0 3 0]
 [1 0 1 0 0 0 0]]
Classification report:
              precision    recall  f1-score   support

           0       0.75      1.00      0.86         6
           1       1.00      0.50      0.67         4
           2       0.53      0.89      0.67         9
           3       1.00      0.33      0.50         3
           4       0.00      0.00      0.00         5
           5       0.75      1.00      0.86         3
           6       0.00      0.00      0.00         2

    accuracy                           0.62        32
   macro avg       0.58      0.53      0.51        32
weighted avg       0.58      0.62      0.56        32

Accuracy of the model : 0.625

C:\Users\dell\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\dell\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\dell\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))